<ng-container class="container">
  <button class="button-64" role="button" (click)="toRequestDetail(0)"><span class="text">Request Free Days</span></button>
  <button class="button-64" role="button" (click)="toLoggedHours()"><span class="text">See Logged Hours</span></button>
  <button class="button-64" role="button" (click)="toProjects()"><span class="text">See Associated Projects</span></button></ng-container>
<h1 class="active"*ngIf="employee">Free Days Requests of {{employee.name}}</h1>
<table class="styled-table">
  <thead>
  <tr>
    <td>Id</td>
    <td *ngIf="role==1">Employee</td>
    <td>Date</td>
    <td>Duration</td>
    <td>Type of Vacation</td>
    <td>Status</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let free of freeDays" class="active-row">
    <td (click)="toRequestDetail(free.id)">{{free.id}}</td>
    <td *ngIf="role==1" (click)="toRequestDetail(free.id)">{{getEmployeeName(free.employeeId)}}</td>
    <td (click)="toRequestDetail(free.id)">{{free.startDate}}</td>
    <td (click)="toRequestDetail(free.id)">{{free.duration}}</td>
    <td (click)="toRequestDetail(free.id)">{{free.typeOfVacation}}</td>
    <td  *ngIf="free.status=='Pending'" style="background-color: paleturquoise">{{free.status}}</td>
    <td  *ngIf="free.status=='Rejected'" style="background-color: palevioletred">{{free.status}}</td>
    <td  *ngIf="free.status=='Approved'" style="background-color: palegreen">{{free.status}}</td>
  </tr>
  </tbody>
</table>

